{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/core.async {:mvn/version "0.4.474"}
        org.clojure/java.jdbc {:mvn/version "0.7.8"}
        org.postgresql/postgresql {:mvn/version "42.2.4"}
        org.clojure/tools.cli {:mvn/version "0.3.7"}
        http-kit {:mvn/version "2.3.0"}
        metosin/jsonista {:mvn/version "0.2.0"}
        ring/ring-core {:mvn/version "1.7.0-RC2"}
        spootnik/signal {:mvn/version "0.2.1"}}
 :aliases {:run {:main-opts ["-m" "googlesheets-sql-sync.cli"]}
           :dev {:extra-deps {cider/cider-nrepl {:mvn/version "0.18.0"}
                              expound {:mvn/version "0.7.1"}}
                 :extra-paths ["dev" "test"]
                 :main-opts ["-m" "dev"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "git@github.com:cognitect-labs/test-runner"
                                                          :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
